<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>الرئيسية - الشرطة</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div style="text-align:center; padding-top:100px;">
        <h1 style="font-size:50px; color: #ffffff;">بوابة الشرطة</h1>
        <p style="font-size:20px; color:#949ba4;">
        </p>
    </div>
</body>
</html>